/* stylesheet2.css */

@font-face {
    font-family: 'FuturaPTBO';
    src: url('Futura/FuturaPTBoldOblique.otf') format('opentype');
    /* Add additional formats if necessary */
    font-style: normal;
}

@font-face {
    font-family: 'FuturaPTD';
    src: url('Futura/FuturaPTDemi.otf') format('opentype');
    /* Add additional formats if necessary */
    font-style: normal;
}

.logolink {
    font-family: 'FuturaPTBO', sans-serif; /* Use Futura for the .logolink class */
    font-size: 60px;
}



body {
    font-family: 'FuturaPTD', sans-serif;
    background-color: white;
    
}

h1 {
    color: #c50a2c;
}

h1 a {
    color: inherit; /* Use the color inherited from its parent element */
    text-decoration: none; /* Remove any underline */
}


.banner {
        background-color: #0C4C00;
        color: white;
        padding: 20px;
        text-align: center;
}

/* Dropdown Button */
.recipedropbtn {
    background-color: #0C4C00;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    font-family: 'FuturaPTD', sans-serif;
  }

.articledropbtn {
    background-color: #0C4C00;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    font-family: 'FuturaPTD', sans-serif;
  }

.mythdropbtn {
    background-color: #0C4C00;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    font-family: 'FuturaPTD', sans-serif;
  }
  
  /* The container <div> - needed to position the dropdown content */
.recipedropdown {
    position: absolute; /* Change position to absolute, relative, fixed, etc. */
    top: 170px; /* Adjust top position as needed */
    right: 630px;
    display: inline-block;
  }

.articledropdown {
    position: absolute; /* Change position to absolute, relative, fixed, etc. */
    top: 170px; /* Adjust top position as needed */
    right: 730px;
    display: inline-block;
  }

.mythdropdown {
    position: absolute; /* Change position to absolute, relative, fixed, etc. */
    top: 170px; /* Adjust top position as needed */
    right: 830px;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
.recipedropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
.recipedropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .recipedropdown-content a:hover {background-color: #ddd;}
  
  /* Show the dropdown menu on hover */
  .recipedropdown:hover .dropdown-content {display: block;}
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .recipedropdown:hover .dropbtn {background-color: #3e8e41;}

  /* Change color of dropdown links on hover */
  .articledropdown-content a:hover {background-color: #ddd;}
  
  /* Show the dropdown menu on hover */
  .articledropdown:hover .dropdown-content {display: block;}
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .articledropdown:hover .dropbtn {background-color: #3e8e41;}
   
  /* Change color of dropdown links on hover */
  .mythdropdown-content a:hover {background-color: #ddd;}
  
  /* Show the dropdown menu on hover */
  .mythdropdown:hover .dropdown-content {display: block;}
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .mythdropdown:hover .dropbtn {background-color: #3e8e41;}

nav {
    text-align: right; /* Align the text within the nav container to the right */
}
nav .navigate {
    color: #c50a2c; /* Set the color of the anchor element to red */
    text-decoration: none; /* Remove underline from the anchor element */
}

nav .navigate:visited {
    color: #c50a2c; /* Keep the color red for visited links */
}


h2.recipe-heading {
    text-align: center;
}

h2.recipe-heading a {
    color: #000;
    text-decoration: none;
}

h2.recipe-heading a:hover {
    color: #c50a2c; /* Change the color of the anchor element on hover */
    text-decoration: underline;
}

h2.recipe-heading a:hover::after {
    content: " ▶";
}

h3 {
    color:#0C4C00;
    text-align: center;
}

h4 {
    color:#0C4C00;
}

.recipebio{
    text-align: center;
}

.recipetitle {
    text-align: center;
}

.recipename {
    text-align: center;
}

.recipedesc {
    color: #c50a2c;
    font-style: italic;
}

.articlebio {
    text-align: center;
}

.chickencurry {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 40%;

}

.pizza{
    position: relative;
    left: 50%;
    transform: translateX(-50%); 
}

.milk{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.ingredients {
    list-style-type: circle;
}

ul li{
    margin-bottom: 10px;
}